.is-hidden {
  display: none !important;
}
.PageBackToWork {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background: linear-gradient(to bottom right, #1073cb 20%, #139ff0 100%);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.PageBackToWork-heading {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: calc(56px + (72 - 56) * ((100vw - 480px) / (1200 - 480)));
}
@media (min-width: 1200px) {
  .PageBackToWork-heading {
    font-size: 72px;
  }
}
.PageBackToWork-heading-rotationTextContainer {
  position: relative;
}
.PageBackToWork-heading-rotationText {
  display: inline-block;
  position: relative;
}
.PageBackToWork-heading-rotationText.is-inactive {
  position: absolute;
  right: 0;
  bottom: 100%;
}
.PageBackToWork-heading-itText {
  display: inline-block;
}
